:root {
    --border-color: #ddd;
    --button-search-font: #3c4043;
    --button-search-background: #f8f9fa;
    --footer-background: #f2f2f2;
    --footer-font: #70757a;
  }
  
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    /* footer support */
    position: relative;
    min-height: 100%;
  }
  
  body {
    font-family: arial, sans-serif;
    line-height: 1.6;
    /* footer support */
    margin-bottom: 100px;
    background: #521755;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  button,
  input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    outline: none;
  }
  
  button {
    position: absolute;
    color: #FFFFFF;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    width: 200px;
    border-radius: 50px;
    background: #1E95F6;

  }
  
  /* NAV */
  
  .nav {
    background: #521755;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
    margin-top: 5px;
    font-size: 13px;
  }
  
  .nav-link {
    opacity: 0.85;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  
  
  .nav-link:nth-child(1) {
    margin-right: 5px;
  }
  
  .nav-link:nth-child(2) {
    margin-right: 9px;
  }
  
  .nav-link:last-child {
    margin-right: 12px;
  }
  .logo {
    float: left;
    width: 92px;
    height: 92px;
    margin-right: 625px;

  }

  #nav-list{
    list-style-type: none;
 }

 #nav-list li{
  display: inline-flex;

  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  color: #FFFFFF;
}
  

  
  
  /* MAIN */
  
  .main {
    background: #521755;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Righteous';

  }
  
  #zbc {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 50%;
    color: white;
    text-align: center;
    width: 500px;
    height: 300px;
    line-height: 65px;
  }
 
  
  .main-img {
    margin-top: -360px;
    width: 278px;
    height: 368px;
    margin-left: 600px;
    
  }
  .about-main {
    font-family: 'Poppins', sans-serif;
    display: flex;
  }
  #about-zbc {
    margin-top: 20px;
    margin-left:775px ;
    color: #FFFFFF;
    left: 67.39%;
    right: 5.29%;
  }
  #about-p {
    margin-right: 50px;
    margin-left: 25px;
    color: #FFFFFF;
    text-align: right;
  }
  .zbc-logo {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    width: 252px;
    height: 251px;
  }
  #about-spdiv {
    margin-top: 20px;
    margin-left:50px ;
    color: #FFFFFF;
    left: 67.39%;
    right: 5.29%;
  }
  #spdiv-p {
    margin-left: 50px;
    color: #FFFFFF;
    text-align: left;
  }
  #as-img {
    display: flex;
    width: 369px;
    height: 305px;
    margin-right: 50px;
    margin-bottom: 100px;
  }